/* Default button styles */
.btn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-family: var(--ff-secondary), sans-serif;
  font-size: var(--fs-20, 1.25rem);
}

.btnSignup {
  composes: btn;
  background-color: var(--clr-accent-1, firebrick);
  color: var(--clr-white, white);
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  border-radius: var(--radius-small, 0.3125rem);
  width: 90%;
  margin-block-start: var(--space-16, 1rem);
  letter-spacing: 0.05em;
}

.btnLogin {
  composes: btnSignup;
  width: 95%;
}

.btnBack {
  composes: btn;
  background-color: var(--clr-accent-2, royalblue);
  color: var(--clr-white, white);
  padding: var(--space-6, 0.375rem) var(--space-10, 0.625rem);
  border-radius: var(--radius-5, 00.3125rem);
  display: flex;
  align-items: center;
  gap: var(--space-8, 0.5rem);
  box-shadow: var(
    --shadow-2,
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px
  );
}

.btnLogout {
  composes: btn;
  background-color: var(--clr-black, black);
  color: var(--clr-white, white);
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  border-radius: var(--radius-small, 00.3125rem);
  font-size: var(--fs-18, 1.125rem);
}

.btnPost {
  justify-self: end;
  composes: btnBack;
  transition: all 0.5s ease-in-out;
  padding: var(--space-6, 0.375rem) var(--space-20, 1.25rem);
}

.btnPost:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btnToggle {
  composes: btn;
}

.btnEdit,
.btnDelete {
  composes: btn;
  font-size: var(--fs-18, 1.125rem);
  padding: var(--space-4, 0.25rem);
  width: 100%;
  transition: all 0.5s ease-in ;
}

.btnEdit:hover,
.btnDelete:hover {
  background-color: var(--clr-gray-8, black);
  color: var(--clr-white, white);
}

.btnCancel {
  composes: btnBack;
  background-color: var(--clr-accent-1, firebrick);
}
