.navList {
  display: flex;
  align-items: center;
  gap: var(--space-32, 2rem);
}

.link {
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
  border-radius: var(--radius-small, 00.3125rem);
  font-family: var(--ff-secondary), sans-serif;
  transition: all 0.5s ease-out;
}

.linkInactive {
  padding: var(--space-8, 0.5rem) var(--space-16, 1rem);
}

.linkSignup {
  background-color: var(--clr-black, black);
  color: var(--clr-white, white);
}

.link:hover {
  background-color: var(--clr-black, black);
  color: var(--clr-white, white);
}
