.list {
  display: grid;
  gap: var(--space-32, 2rem);
}

.card {
  display: flex;
  gap: var(--space-16, 1rem);
}

.commentContainer {
  flex: 1;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentOptions {
  position: relative;
}

.dropdownList {
  /* Hide the element */
  opacity: 0;
  visibility: hidden;

  /* Placement */
  position: absolute;
  right: var(--space-16, 1rem);
  top: calc(100% - var(--space-8, 0.5rem));

  width: var(--space-80, 5rem);
  padding: var(--space-8, 0.5rem);
  box-shadow: var(--shadow-1, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px);
  border-radius: var(--radius-5, 00.3125rem);
  background-color: var(--clr-gray-1, ghostwhite);

  /* Animation */
  transform: translateY(-10px);
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

/* Show dropdown */
.open {
  composes: dropdownList;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 99;
}

.dropdownItem {
  text-align: center;
}

.content {
  padding: var(--space-8, 0.5rem) 0;
}